<div class="page-header">
  <h1 ng-if="! <%= ng_singular_name %>.id">Novo <%= i18n_human %></h1>
  <h1 ng-if="  <%= ng_singular_name %>.id"><%= i18n_human %> {{ <%= ng_singular_name %>.id }}</h1>
</div>

<form class="form-horizontal" ng-submit="<%= ng_singular_name %>.save()" name="form" novalidate>
  <div class="form-inputs">
    <%- klass.columns.each do |column| -%>
    <%%# <%= i18n_column(column).upcase %> %>
    <div class="form-group" id="<%= column_name(column) %>_wrapper">
      <label class="col-sm-2 control-label" for="<%= singular_name %>_<%= column_name(column) %>"><%= i18n_column(column) %></label>
      <div class="col-sm-10">
        <%- if column_is_association? column -%>
        <!-- USE THIS TO TYPEAHEAD -->
        <input autocomplete="off" autofocus="autofocus" name="<%= column_name(column) %>" required
          class="form-control" id="<%= singular_name %>_<%= column_name(column) %>" ng-model="<%= ng_singular_name %>.<%= column_name(column) %>"
          type="text" typeahead-min-length="3" typeahead-wait-ms="250"
          typeahead="<%= ng_column_name(column) %> as <%= ng_column_name(column) %>.name for <%= ng_column_name(column) %> in <%= ng_column_name(column).pluralize %>($viewValue)">
        <!-- END OF TYPEAHEAD -->

        <!-- USE THIS TO SELECT -->
        <select class="form-control" id="<%= singular_name %>_<%= column.name %>" ng-model="<%= ng_singular_name %>.<%= column.name %>"
          ng-options="<%= ng_column_name(column) %>.name for <%= ng_column_name(column) %> in <%= ng_column_name(column).pluralize %> track by <%= ng_column_name(column) %>.id">
        </select>
        <!-- END OF SELECT -->
        <%- else -%>
        <input class="form-control" id="<%= singular_name %>_<%= column.name %>"
          type="<%= input_type(column) %>" ng-model="<%= ng_singular_name %>.<%= column.name %>">
        <%- end -%>
      </div>
    </div>

    <%- end -%>
  </div>

  <input class="btn btn-success" type="submit" value="Salvar" ng-disabled="form.$invalid">
  <a class="btn btn-default" ui-sref="<%= ng_plural_name %>">Cancelar</a>
</form>
